.cityWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.city {
  width: 100%;
  margin: 5px 0 0 0;
}
.addCity {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0 0;
}
.error {
  margin-top: 10px;
  color: red;
}
