.detailForecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  display: flex;
}
.weatherDetails {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  text-align: left;
  padding: 20px 0 20px 100px;
}
.dayTemperature {
  flex: 2;
}
.refreshButton {
  width: 15%;
  align-self: center;
}
.data {
  margin: 10px;
  justify-content: space-between;
  display: flex;
}
.value {
  color: blue;
}
.hourly {
  position: absolute;
  top: 37%;
  left: 60%;
}
