.cityContainer {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
}
.cityInfo {
  display: flex;
  justify-content: space-between;
}
.deleteButton {
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: rotate(45deg);
  background-color: rgba(0, 0, 255, 0.15);
  color: blue;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: black;
}
